header, body, footer{
    background-color: #000000;
    color: #FFFFFF;
}

h1{
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
}

h2{
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 30px;
    text-shadow: 5px 5px 2px #808080;
    color: #FFFFFF;
}

p{
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 24px;
    padding-top: 20px;
    color: #FFFFFF;
}

img{
    display: block;
    margin: auto;
    width: 525px;
}

div{
    min-height: 150px;
    padding: 25px;
}

#red{
    background: #FF0000;
    text-align: right;
}

#blue{
    background: #0000FF;
    text-align: left;
}

#yellow{
    background: #FFFF00;
    text-align: right;
}

#yellow p{
    color: #000000;
}

#yellow h2{
    color: #000000;
    text-shadow: 5px 5px 2px #c7e2c7;
}

#green{
    background: #008000;
    text-align: left;
}

footer p{
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
}

